<div class="container">
	<div class="category"><h1>Categories</h1></div>
	<div class="container">
		<div class="row mg-top">			
			<div class="col-md-3">
				<a href="#/categoriasList"><button type="button" class="btn btn-categories"><span class="ft-20">Satellite</span></button></a>
			</div>
			<div class="col-md-3">
				<button type="button" class="btn btn-categories"><span class="ft-20">Software</span></button>
			</div>
			<div class="col-md-3">
				<button type="button" class="btn btn-categories"><span class="ft-20">Database</span></button>
			</div>
			<div class="col-md-3">
				<button type="button" class="btn btn-categories"><span class="ft-20">Telescope</span></button>
			</div>
		</div>
		<div class="row mg-top">
			<div class="col-md-2"></div>
			<div class="col-md-3">
				<button type="button" class="btn btn-categories"><span class="ft-20">Services</span></button>
			</div>			
		</div>
	</div>
	<button type="button" class="btn btn-colaborar">COLABORATE</button>
</div>
