<div class="container">	
	<img class="full-bg" src="/resources/img/space_background.png">

	<div class="row">	
		<img class="half-bg" src="/resources/img/earth-globe.png">
		<img src="/resources/img/pin-red.svg" class="btn static-pin" data-toggle="modal" data-target="#myModal"></button>
	</div>	

	 <div class="modal-dialog modal-index" role="document">
		<div style="background-color: rgba(255, 255, 255, 0.2); border-radius: 10px;" class="modal-content">		
		<div class="modal-body">
			<div class="row body-modal">
				<div class="col-md-6">
					<div class="row mg-0">						
							<h1 style="margin-left: 30px; color: #ffffff;">Become a scientist!</h1>						
							<h4 class="description">Contribute to your knowledge, gain experience, learn more about science. The New Horizons use crowdsource as a methodology that allows anyone to share knowledge and information.</h4>
					</div>		
						
				</div>	
				<div class="col-md-6">					
					<img style="width: 300px; position: fixed" src="/resources/img/astro.svg">								
				</div>
			</div>
		</div>
		<div class="modal-footer">				
			<button type="button" class="btn btn-colaborar-index">START COLABORATING</button>	
		</div>
		</div>
	</div>
	
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times fa-2x" aria-hidden="true"></i></span></button>
			<h1 class="modal-title" id="myModalLabel">NASA</h1>
		</div>
		<div class="modal-body">
			<div class="row body-modal">
				<div class="col-md-8">
					<div class="row mg-0">
						<span class="text-desc mg-1">
							<pre>The National Aeronautics and Space Administration (NASA)  is an independent<br>agency of the executive branch of the United States federal government responsible<br>for the civilian space program, as well as aeronautics and aerospace research.
NASA Headquarters, in Washington, provides overall guidance and direction to the<br>agency, under the leadership of the administrator. Ten field centers and a variety<br>of installations conduct the day-to-day work, in laboratories, on air fields, in wind<br>tunnels and in control rooms.</pre>							
						</span>
					</div>					
					<div class="row mg-0">
						<div id="myCarousel" class="carousel slide" data-ride="carousel">						

							<!-- Wrapper for slides -->
							<div class="carousel-inner carousel-inner2">
								<div class="item active">
								<img src="/resources/img/bg.jpg" alt="Los Angeles">
								</div>

								<div class="item">
								<img src="/resources/img/bg.jpg" alt="Chicago">
								</div>

								<div class="item">
								<img src="/resources/img/bg.jpg" alt="New York">
								</div>
							</div>
						
						</div>
					</div>					
				</div>				
				<div class="col-md-4">
						<h4>Colaborators</h4>
						<div class="row border-b">
							<div class="col-md-3  low-mg-top">
								<img src="/resources/img/avatar.png" class="img-responsive low-img">
							</div>
							<div class="col-md-8">
								<div class="row">
									<h5>Nome do Cientista</h5>
								</div>
								<div class="row">
									<span class="low-font">Cargo do cientista</span>
								</div>
							</div>
						</div>


				</div>
			</div>
		</div>
		<div class="modal-footer">				
			<button type="button" class="btn btn-colaborar">COLABORATE</button>	
		</div>
		</div>
	</div>
	</div>



</div>