<div class="container">
	<div class="category"><h1 style="color: #bdc3c7">Missions</h1></div>
	<img class="full-bg" src="/resources/img/space_background.png">

	<div class="row high-mg-top">		
		<a href><img class="sol" src="/resources/img/planets/sun.svg" data-toggle="modal" data-target="#myModal"></a>
		<a href><img class="mercury" src="/resources/img/planets/mercury.svg" data-toggle="modal" data-target="#myModal"></a>
		<a href><img class="venus" src="/resources/img/planets/venus.svg" data-toggle="modal" data-target="#myModal"></a>
		<a href><img class="earth" src="/resources/img/planets/earth.svg" data-toggle="modal" data-target="#myModal"></a>
		<a href><img class="mars" src="/resources/img/planets/mars.svg" data-toggle="modal" data-target="#myModal"></a>
		<a href><img class="jupiter" src="/resources/img/planets/jupiter.svg" data-toggle="modal" data-target="#myModal"></a>
		<a href><img class="saturn" src="/resources/img/planets/saturn.svg" data-toggle="modal" data-target="#myModal"></a>
		<a href><img class="uranos" src="/resources/img/planets/uranos.svg" data-toggle="modal" data-target="#myModal"></a>
		<a href><img class="neptuno" src="/resources/img/planets/neptuno.svg" data-toggle="modal" data-target="#myModal"></a>
		<a href><img class="pluto" src="/resources/img/planets/pluto.svg" data-toggle="modal" data-target="#myModal"></a>
		<div class="col-md-2"><a href="#/galaxyView">
							<img class="next-univ" src="/resources/img/Right.svg"> </a></div>
	</div>


	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times fa-2x" aria-hidden="true"></i></span></button>
			<h1 class="modal-title" id="myModalLabel">ASSOCIATION </h1>
		</div>
		<div class="modal-body">
			<div class="row body-modal">
				<div class="col-md-8">
					<div class="row mg-0">
						<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								ACE - (Advenced Composition Explorer)
								</a>
							</h4>
							</div>
							<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								The  spacecraft carries six high-resolution sensors and three monitoring instruments that sample low-energy particles of solar origin and high-energy galactic particles with a collecting power 10 to 1000 times greater than past or planned experiments. The study of energetic particles will contribute to our understanding of the formation and evolution of the solar system as well as the astrophysical processes involved
							</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingTwo">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								MMS - (Magnetospheric Multiscale Mission)
								</a>
							</h4>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body">
								Investigates how the Sun’s and Earth’s magnetic fields connect and disconnect. By observing magnetic reconnection in nature, MMS provides access to predictive knowledge of a universal process that is the final governor of space weather, affecting modern technological systems such as communications networks, GPS navigation, and electrical power grids. MMS will establish knowledge, methods and technologies applicable to future space weather missions and the future growth and development of space weather forecasting. The spacecraft will be developed using the standard GSFC protoflight testing approach. The first unit will be tested to qualification levels and the remaining units to acceptance levels							</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingThree">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								RHESSI – (Reuven Ramaty High Energy Solar Spectroscopic Imager)
								</a>
							</h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
							<div class="panel-body">
								the only active observatory that can provide imaging spectroscopy of the energetic electrons that carry such a predominant part of the energy released in a flare. RHESSI has now covered more than a complete 11-year solar cycle and is continuing to make observations as activity decreases to solar minimum (expected in ~2019). During that time it has recorded over 114,000 X-ray events, 42 with gamma-ray emission above 300 keV, and 27 with gamma-ray line emission.								<div class="row mg-0">
									<div id="myCarousel" class="carousel slide" data-ride="carousel">						

										<!-- Wrapper for slides -->
										<div class="carousel-inner carousel-inner2">
											<div class="item active">
											<img src="/resources/img/bg.jpg" alt="Los Angeles">
											</div>

											<div class="item">
											<img src="/resources/img/bg.jpg" alt="Chicago">
											</div>

											<div class="item">
											<img src="/resources/img/bg.jpg" alt="New York">
											</div>
										</div>
									
									</div>
								</div>
							</div>
							</div>
						</div>
						</div>
					</div>				
										
				</div>				
				<div class="col-md-4">
						<h4>Colaborators</h4>
						<div class="row border-b">
							<div class="col-md-3  low-mg-top">
								<img src="/resources/img/avatar.png" class="img-responsive low-img">
							</div>
							<div class="col-md-8">
								<div class="row">
									<h5>Nome do Cientista</h5>
								</div>
								<div class="row">
									<span class="low-font">Cargo do cientista</span>
								</div>
							</div>
						</div>


				</div>
			</div>
		</div>
		<div class="modal-footer">				
			<button type="button" class="btn btn-colaborar">COLABORATE</button>	
		</div>
		</div>
	</div>
	</div>
</div>
